@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;

}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
